.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

/* .pushdown {
    display: block;
    content: " ";
    margin-top: -120px;
    height: 120px;
    visibility: hidden;
    pointer-events: none;
} */
.toggle-head:after {
    content: "\0025bc";
}

[data-toggle="collapse"].collapsed .toggle-head:before {
    content: "\0025b2";
}

/* [data-toggle="collapse"] .toggle-head:before {
    content: "\f139";
} */
/* [data-toggle="collapse"].collapsed .toggle-head:before {
    content: "\f13a";
} */
/* .toggle-head.collapsed:after {
    content: "\0025b2";
} */